@import "styles/layout.css";
@import "styles/typography.css";
@import "styles/fonts.css";
@import "styles/highlight.css";

:root {
  --font: "Overpass", sans-serif;
  --font-mono: "Fira Mono", monospace;

  --primary: #42a5f5;
  --secondary: #ab47bc;
  --error: #d32f2f;
  --warning: #f57c00;
  --info: #0288d1;
  --success: #388e3c;
  --dark: #34343d;
  --light: #c0c0d8;
  --white: #ffffff;
  --code: #f6fafd;

  --text: #ffffff;
  --text-secondary: #ffffffb3;
  --text-disabled: #ffffff80;
  --text-sidebar: #d4d4d4;
  --text-sidebar-links: var(--white);

  --topbar-height: 50px;
  --sidebar-width: 250px;

  --props-border: var(--dark);
  --props-devider: var(--code);
  --props-types-bg: var(--code);
  --props-types-border: var(--dark);
  --props-types-text: var(--hl-keyword);
  --props-oneof-text: var(--hl-string);
  --props-default-text: var(--dark);

  --hl-background: var(--code);
  --hl-text: #505050;
  --hl-comment: #8da4bc;
  --hl-keyword: #3c87b9;
  --hl-string: #a18851;
  --hl-number: #76a562;
  --hl-name: #c36031;
  --hl-attr: #a18851;
  --hl-builtin: #505050;
}
